/*-- scss:defaults --*/

// font
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

// Colors
$purple: purple;
$dark-blue: darkblue;
$azure: azure;
$light-blue: lightblue;
$indigo: indigo;
$magenta: magenta;


// Base document colors
$navbar-bg: $azure; // navbar
$navbar-fg: $magenta; // navbar foreground elements
$navbar-hl: $purple; // highlight color when hovering over navbar links
$body-bg: $indigo; // page background 
$body-color: $light-blue; // page text 
$footer-bg: $azure; // footer 
$link-color: $purple; // hyperlinks 

// Inline code
$code-bg: $azure; // inline code background color
$code-color: $purple; // inline code text color

// Code blocks
$code-block-bg: $azure; // code block background color